.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center container */
}

#status {
  font-size: 24px;
  margin-bottom: 20px;
  color: #009900;
}

.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2672b5;
}
.waviy {
    position: relative;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color:darkslategray;
    text-transform: uppercase;
    animation: flip 4s infinite;
   
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}
.img1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
